@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

:root {
    --primary-color: #606C5D;
    --secondary-color: #FFF4F4;
    --terciary-color: #F7E6C4;
    --quaternary-color: #F1C376;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #465b52;
}

.section-p1 {
    padding: 40px 80px;
    background-color: var(--secondary-color);
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .2s ease;
}

button.white {
    font-size: 13px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    transition: .2s ease;
}

body {
    width: 100%;
}

/* Header */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: var(--primary-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#header img {
    height: 80px;
    width: 100px;
    margin: 0;
    background-color: yellow;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--secondary-color);
    transition: .3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: var(--secondary-color);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: var(--quaternary-color);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}


/* Home Page */
#hero {
    background: url("../img/hero4.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero .hero-texts {
    background-color: rgba(255, 244, 244, .5);
    padding: 20px;
    height: 50%;
    border-radius: 20px;
    border: var(--primary-color) 1px solid
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
    padding-bottom: 15px;
    color: var(--primary-color);
}

#hero button {
    margin-top: 40px;
    background: url("../img/button.png");
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    padding: 14px 80px 14px 65px;
    cursor: pointer;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 15px;
}

#hero button:hover {
    color: var(--secondary-color);
    transition: color 1s ease;
}
/* Feature */
#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, .03);
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 20px 20px 54px rgba(70, 62, 221, .01);
}

#feature .fe-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: #088178;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6 {
    background-color: #cce7d0;
}

#feature .fe-box:nth-child(3) h6 {
    background-color: #d1e8f2;
}

#feature .fe-box:nth-child(4) h6 {
    background-color: #cdd4f8;
}

#feature .fe-box:nth-child(5) h6 {
    background-color: #f6dbf6;
}

#feature .fe-box:nth-child(6) h6 {
    background-color: #fff2e5;
}
/* Product */
#product1 {
    text-align: center;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 25%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid var(--primary-color);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .02);
    margin: 10px px;
    transition: .2s ease;
    position: relative;
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .06);
}

#product1 .pro .description {
    text-align: center;
    padding: 10px 0;
}

#product1 .pro .description span {
    color: #060606;
    font-size: 12px;
}

#product1 .pro .description h5 {
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .description .fa-star {
    font-size: 12px;
    color: var(--quaternary-color);
}

#product1 .pro .description h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: var(--primary-color);
}

#product1 .pro .cart  {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#product1 .pro .cart:hover {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    transition: .5s ease;
} 

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url("../img/banner/b2.jpg");
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: var(--secondary-color);
    font-size: 16px;
}

#banner h2 {
    color: var(--secondary-color);
    font-size: 30px;
    padding: 10px 0;
}

#banner span {
    color: var(--quaternary-color);
}

#banner button:hover {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
}

#sm-banner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: url("../img/banner/b17.jpg");
    min-width: 580px;
    height: 50vh;
    background-size: cover;
    background-position: center;
    margin: 0 5px;
    padding-left: 15px;
    border-radius: 10px;
}

#sm-banner .banner-box2 {
    background: url("../img/banner/b10.jpg");
    background-size: cover;
}

#sm-banner .banner-box h4{
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

#sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

#sm-banner .banner-box:hover button {
    background-color: #000;
    border: none;
    color: #fff;
}

#banner3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 80px;
}

#banner3 .banner-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: url("../img/banner/b7.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

#banner3 .banner-box2 {
    background: url("../img/banner/b4.jpg");
    background-position: center;
    background-size: cover;
}

#banner3 .banner-box3 {
    background: url("../img/banner/b18.jpg");
    background-position: center;
    background-size: cover;
}

#banner3 h2 {
    color: white;
    font-weight: 900;
    font-size: 22px;
}

#banner3 h3 {
    color: paleturquoise;
    font-weight: 800;
    font-size: 15px;
}

/* Shop Page */

#page-header {
    background-image: url("../img/banner/b1.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

#page-header h2, #page-header p {
    color: white;
}

#pagination {
    text-align: center;

}

#pagination a {
    text-decoration: none;
    background-color: var(--primary-color);
    padding: 15px 20px;
    border-radius: 4px;
    color: var(--secondary-color);
    font-weight: 600;
}

#pagination a:hover {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    transition: .5s ease;
}

#pagination a i {
    font-size: 16px;
    font-weight: 600;
}

/* Single Product */

#pro-details {
    display: flex;
    margin-top: 20px;
}

#pro-details .single-pro-image {
    width: 40%;
    margin-right: 50px;
}

.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer;
}

#pro-details .single-pro-details {
    width: 50%;
    padding-top: 30px;
}

#pro-details .single-pro-details h4 {
    padding: 40px 0 20px 0;
}

#pro-details .single-pro-details h2 {
    font-size: 26px;
}

#pro-details .single-pro-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#pro-details .single-pro-details select:focus {
    outline: none;
}

#pro-details .single-pro-details input {
    width: 50px;
    height: 47px;
    padding-left: 10px;
    font-size: 16px;
    margin-right: 10px;
}

#pro-details .single-pro-details input:focus {
    outline: none;
}

#pro-details .single-pro-details button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#pro-details .single-pro-details button:hover {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    transition: .9s ease;
}

#pro-details .single-pro-details span {
    line-height: 24px;
    font-size: 18px;
}

/* About Page */

#page-header.about-header {
    background-image: url("../img/about/banner.png");
}

#about-head {
    display: flex;
    align-items: center;
}

#about-head img {
    width: 50%;
    height: auto;
}

#about-head div {
    padding-left: 40px;
}

#about-app {
    text-align: center;
}

#about-app a {
    text-decoration: none;
    color: var(--quaternary-color)
}

#about-app .video {
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

#about-app .video video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* Contact Page */

#page-header.contact-header {
    background-image: url("../img/banner/b16.jpg");
}

#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#contact-details .details {
    width: 40%
}

#contact-details .details span,
#form-details form span {
    font-size: 12px;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 26px;
    line-height: 35px;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 16px;
    padding-bottom: 15px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 14px;
    padding-right: 22px;
    color: #060606;
}

#contact-details .details li p {
    margin: 0;
    font-size: 14px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1;
}

#form-details form button {
    background-color: #088178;
    color: white;
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}

#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

#form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: black;
}

/* Cart Page */

#cart {
    overflow-x: auto;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
    border-radius: 50%;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid var(--primary-color);
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody tr td a {
    color: darkred;
}

#cart table tbody td {
    font-size: 13px;
}

#cart-add {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#coupon {
    width: 50%;
    margin-bottom: 30px;
}

#coupon h3,
#subtotal h3 {
    padding-bottom: 15px;
}

#coupon input {
    padding: 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid var(--primary-color);
}

#coupon button,
#subtotal button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 12px 20px;
}

#coupon button:hover,
#subtotal button:hover {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    transition: .5s ease;
}

#subtotal {
    width: 50%;
    margin-bottom: 30px;
    border: 1px solid var(--primary-color);
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid var(--primary-color);
    padding: 10px;
    font-size: 13px;
}

/* Newsletter */

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("../img/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #227;
    margin: 0;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: var(--secondary-color);
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: var(--terciary-color);
}

#newsletter span {
    color: var(--quaternary-color);
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 5px 0 0 5px;
    outline: none;
}

#newsletter button {
    background-color: var(--primary-color);
    color: #fff;
    white-space: nowrap;
    border-radius: 0 5px 5px 0;
}

#newsletter button:hover {
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    transition: .5s ease
}

/* Footer */

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 35px;
    background-color: var(--primary-color);
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 20px;
    padding-bottom: 20px;
    color: var(--terciary-color);
}

footer p {
    font-size: 16px;
    margin: 0 0 8px 0;
    color: var(--secondary-color)
}

footer a {
    font-size: 16px;
    text-decoration: none;
    color: var(--secondary-color);
    margin-bottom: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: var(--quaternary-color);
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid var(--secondary-color);
    border-radius: 6px;
    cursor: pointer;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover, 
footer a:hover {
    color: var(--quaternary-color);
    transition: color .5s ease;
}

footer .copyright {
    width: 100%;
    text-align: center;
}

/* Start media query */
@media (max-width: 800px) {
    /* Navbar */
    .section-p1 {
        padding: 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: var(--primary-color);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: .3s;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li a {
        line-height: 40px;
    }

    #navbar li a:hover {
        color: var(--quaternary-color);
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: flex;
        position: absolute;
        top: 30px;
        left: 30px;
        color: var(--secondary-color);
        font-size: 24px;
    }

    #cart-bag {
        display: none;
    }
    /* Home */
    #hero {
        padding: 0 80px;
        background-position: top 30% right 30%
    }

    #feature {
        justify-content: center;
    }

    #feature .fe-box {
        margin: 15px;
    }

    #product1 .pro-container {
        justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
        border-radius: 0;
    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box {
        width: 28%;
    }

    /* Single Product */

    #pro-details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    #pro-details .single-pro-image {
        width: 100%;
    }

    #pro-details .single-pro-details {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #pro-details .single-pro-details select {
        border: 1px solid black;
    }

    #pro-details .single-pro-details input {
        border: 1px solid black;
    }

    #pro-details .single-pro-details button {
        width: 85%;
        margin-top: 10px;
    }

    /* Contact Page */

    #form-details {
        margin: 5px;
        padding: 20px;
    }

    /* Newsletter */

    #newsletter .form {
        width: 70%;
    }
}

@media (max-width: 477px) {
    .section-p1 {
        padding: 20px;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 32px;
    }
    /* NavBar */
    #header {
        padding: 10px 30px;
    }
    /* Home */
    #hero {
        padding: 0 20px;
        background-position: 60%;
    }

    #feature {
        align-items: center;
        justify-content: center;
    }

    #feature .fe-box {
        width: 140px;
        margin: 0 0 15px 0;
    }

    #product1 .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #sm-banner {
        padding: 20px;
    }

    #sm-banner .banner-box {
        height: 40vh;
    }

    #sm-banner .banner-box2 {
        margin-top: 20px;
    }

    #banner3 {
        padding: 0 20px;
    }

    #banner3 .banner-box {
        width: 100%;
        border-radius: 0;
    }

    /* Single Product */

    #pro-details {
        display: flex;
        flex-direction: column;
    }

    #pro-details .single-pro-image {
        width: 100%;
    }

    #pro-details .single-pro-details {
        width: 100%;
    }

    #pro-details .single-pro-details select {
        padding: 10px;
        margin: 20px 0;
    }

    /* About Page */

    #about-head {
        flex-direction: column;
    }

    #about-head img {
        width: 100%;
        margin-bottom: 20px;
    }

    #about-head div {
        padding-left: 0px;
    }

    #about-app .video {
        width: 100%;
    }

    /* Contact Page */

    #contact-details {
        display: flex;
        flex-direction: column;
    }

    #contact-details .details {
        width: 100%;
    }

    #contact-details .map {
        width: 100%;
    }

    #form-details {
        flex-direction: column;
        flex-wrap: wrap;
    }

    #form-details form {
        width: 100%;
        margin-bottom: 40px;
    }

    #form-details .people {
        width: 100%;
    }

    /* Cart Page */

    #cart-add {
        flex-direction: column;
    }

    #coupon {
        width: 100%;
    }

    #subtotal {
        width: 100%;
        padding: 20px;
    }

    /* Newsletter */

    #newsletter {
        padding:  40px 20px;
    }

    #newsletter .form {
        width: 100%;
        margin-top: 20px;
    }
}